.error-container {
    display: grid;
    place-items: center;
    min-height: 50vh;
    width: 100%;
}

h1 {
    font-size: 8em;
    margin: 0.5%;
}
  
img {
    max-width: 100%;
    min-width: 56em;
    width: 100%;
    height: auto;
}
  